*,
*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
