.collection__container {
    margin-top: 188px;
    margin-bottom: 188px;
}

.collection__big-title {
   @include Fraunces();
    font-size: 150px;
    line-height: 72px;
    color: #83888F;
    position: absolute;
    margin-top: -30px;
    z-index: -1;
    opacity: 0.5;
    &::before {
        content: '';
        display: block;
        max-width: 1111px;
        height: 106px;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
        position: absolute;
    }
}

.collection__list {
   @include list-style();
}

.collection__item {
    max-width: 255px;
}

.collection__item-title {
   @include Fraunces();
}

.collection__item-text {
    @include all-small-texts();
}
