.countries__headquarters-title{
    @include Fraunces();
    text-align: left;
    color: rgba(131, 136, 143, 1);
    margin-top: 200px;
    margin-bottom: 100px
}
.countries__list{
    @include list-style();
}
.countries__item-title{
    @include Fraunces();
    text-align: left;
    margin-bottom: 24px;
    padding-top: 100px;
}
.countries__item-text{
    @include all-small-texts();
    text-align: left;
    width: 120px;
    color: rgba(51,61,75,1);
}
.first-map{
    background-image: url(/img/united-kingdom.png);
    background-repeat: no-repeat;
}
.second-map{
    background-image: url(/img/canada.png);
    background-repeat: no-repeat;
}
.three-map{
    background-image: url(/img/australia.png);
    background-repeat: no-repeat;
}