
.footer__container {
    background-color:$black-background;
    border-radius: 8px;
}

.footer__container-two {
    background: $black-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 216px;
}

.footer__navigation {
    padding-top: 47px;
    padding-bottom: 47px;
}

.footer__nav-list {
    width: 282px;
    @include list-style();
}

.footer__item {
    @include all-small-texts();
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
}

.footer__item-link {
    text-decoration: none;
    color: rgba(131, 136, 143, 1);
}

.footer__item-link:hover {
    color: rgba(254, 252, 247, 1);
}

.footer-app__list {
    width: 120px;
   @include list-style();
}