.intro__container {
    background-image: url(../img/intro-background.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    max-width: 600px;
}

.intro__big-text {
    @include Fraunces();
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    color: rgba(254, 252, 247, 1);
    max-width: 493px;
}

.intro__small-text {
    @include all-small-texts();
    text-align: left;
    color: rgba(254, 252, 247, 1);
    max-width: 440px;
    margin-top: 32px;
    margin-bottom: 71px;
}

.intro__text-unit {
    padding-bottom: 120px;
    padding-top: 80px;
}
.intro-about__container{
    background-image: url(../img/Object.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    max-height: 450px;
    margin-bottom: 168px;
}
@media only screen and(max-width: 768px){
    .intro__container {
        background-image: url(../img/intro-background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 8px;
    }
}