.question__big-question {
    @include Fraunces();
    font-size: 40px;
    line-height: 48px;
 }
 
 .question__small-question {
     @include all-small-texts();
     margin-top: 32px;
 }
 
 .question__ques-list {
    @include list-style();
     margin-left: auto;
     margin-right: auto;
 }
 
 .ques-list__ques-item {
     justify-content: space-between;
     background-color: $accept;
     width: 350px;
     border-radius: 8px;
     margin-top: 86px;
 }
 
 .ques-item__ques-title {
    @include Fraunces();
     margin-left: 47px;
     margin-bottom: 24px;
     margin-top: 256px;
     width: 255px;
 }
 
 .ques-item__ques-text {
     @include all-small-texts();
     width: 255px;
     margin-left: 47px;
     margin-bottom: 48px;
 }
 
 .ques-item--best-quality {
     background-image: url(../img/best-quality.svg);
     background-repeat: no-repeat;
     background-position: center calc(50% - 90px);
 }
 
 .ques-item--exclusive {
     background-image: url(../img/exclusive-benefits.svg);
     background-repeat: no-repeat;
     background-position: center calc(50% - 90px);
 }
 
 .ques-item--free {
     background-image: url(../img/free-shipping.svg);
     background-repeat: no-repeat;
     background-position: center calc(50% - 90px);
 }

 .question__container {
    position: relative;
    color: #fff;
}

.question__menu {
    padding-top: 100px;
    max-width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    &::before {
        background: $black-background;
        border-radius: 8px;
        left: 0;
        right: 0;
        content: '';
        display: block;
        width: 100%;
        max-height: 567px;
        position: absolute;
        z-index: -1;
    }
}
 